<!DOCTYPE HTML>

<html>
<head>
    <title>Gamecraft CI</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/dashboard.css"/>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/js/account_operations.js"></script>
    <script src="/js/projects_operations.js"></script>
    <script src="/js/ui_operations.js"></script>
    <script src="/js/validator.min.js"></script>
    <script src="/js/lang_operations.js"></script>
    <script>
        checkAuthState();
        loadNavbar();
        setDefaultLanguage();
        fillProjectsTable();
    </script>
</head>
<body>
<div class="navbar-frame"></div>
<div class="container">

    <h1>Projects</h1>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Website</th>
            <th>Operations</th>
        </tr>
    </table>
    <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Create new project</button>
</div> <!-- /container -->


</body>
</html>