<!DOCTYPE HTML>

<html>
<head>
    <title>Gamecraft CI</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/dashboard.css"/>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/js/account_operations.js"></script>
    <script src="/js/ui_operations.js"></script>
    <script src="/js/validator.min.js"></script>
    <script src="/js/lang_operations.js"></script>
    <script>
        checkAuthState();
        setDefaultLanguage();
        loadNavbar();
    </script>
</head>
<body>
<div class="navbar-frame"></div>
<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Dashboard</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It
            includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
    </div>

</div> <!-- /container -->

</body>
</html>