<!DOCTYPE HTML>

<html>
<head>
    <title>Gamecraft CI</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/dashboard.css"/>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/js/account_operations.js"></script>
    <script src="/js/ui_operations.js"></script>
    <script src="/js/validator.min.js"></script>
    <script src="/js/lang_operations.js"></script>
    <script>
        checkAuthState();
        setDefaultLanguage();
        loadNavbar();
    </script>
</head>
<body>
<div class="navbar-frame"></div>
<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Welcome to Gamecraft!</h1>

        <div class="alert alert-success" role="alert">You are logged in as user "<script> document.write(getUsername())</script>".</div>
        <p>If you have any question on Gamecraft:</p>
        <ul>
            <li><a href="https://github.com/iMartinezMateu/gamecraft/issues?state=open" target="_blank" rel="noopener" >Gamecraft bug tracker</a></li>
            <li><a href="https://github.com/iMartinezMateu/gamecraft/wiki" target="_blank" rel="noopener" >Gamecraft wiki</a></li>
        </ul>

        <p>
            <span jhiTranslate="home.like">If you like Gamecraft, don't forget to give us a star on</span> <a href="https://github.com/iMartinezMateu/gamecraft" target="_blank" rel="noopener" >GitHub</a>!
        </p>

        <img src="/img/gamecraft.png" alt="Gamecraft" class="center-block" />

    </div>

</div> <!-- /container -->

</body>
</html>