    <!DOCTYPE HTML>

    <html>
    <head>
          <title>Gamecraft CI</title>
          <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
          <link rel="stylesheet" href="/css/login.css"/>
          <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
          <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
          <script src="/js/validator.min.js"></script>
          <script src="/js/particles.js"></script>
          <script src="/js/account_operations.js"></script>
          <script src="/js/lang_operations.js"></script>
          <script>
              setDefaultLanguage();
              if (isAuthenticated()) {
                  window.location.replace(location.protocol + '//' + document.domain + ':' + location.port + "/dashboard");
              }
          </script>
    </head>
    <body>

    <div class="container">

        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

            <div class="row">
                <div class="logo">
                    <img src="/img/gamecraft.png" alt="Gamecraft" />
                </div>
            </div>

            <div class="panel panel-default" >
                <div class="panel-heading">
                    <div class="panel-title text-center">Welcome to Gamecraft CI service!</div>
                </div>

                <div class="panel-body" >

                    <form role="form" data-toggle="validator" name="form" id="form" class="form-horizontal" enctype="multipart/form-data" >
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="username" placeholder="Username" required="true"/>
                            </div>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" pattern="^[_A-z0-9]{1,}$" class="form-control" id="password" placeholder="Password" required="true"/>
                            </div>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                        <div class="col-sm-12 controls">
                            <button type="button" onclick="authenticate(username.value,password.value);"  class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Log in</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div id="particles"></div>


    </body>
    </html>