
<div *ngIf="groupsUser">
    <h2><span jhiTranslate="gamecraftgatewayApp.groupsUser.detail.title">Groups User</span> {{groupsUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gamecraftgatewayApp.groupsUser.groupId">Group Id</span></dt>
        <dd>
            <span>{{groupsUser.groupId}}</span>
        </dd>
        <dt><span jhiTranslate="gamecraftgatewayApp.groupsUser.userId">User Id</span></dt>
        <dd>
            <span>{{groupsUser.userId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'groups-user/'+ groupsUser.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
