<div>
    <h2>
        <span jhiTranslate="gamecraftgatewayApp.pipeline.home.title">Pipelines</span>
        <button class="btn btn-primary float-right jh-create-entity create-pipeline" [routerLink]="['/', { outlets: { popup: ['pipeline-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gamecraftgatewayApp.pipeline.home.createLabel">
            Create new Pipeline
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gamecraftgatewayApp.pipeline.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pipelines">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineName"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineName">Pipeline Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineDescription"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineDescription">Pipeline Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineRepositoryType"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineRepositoryType">Pipeline Repository Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineRepositoryAddress"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineRepositoryAddress">Pipeline Repository Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineRepositoryUsername"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineRepositoryUsername">Pipeline Repository Username</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineRepositoryPassword"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineRepositoryPassword">Pipeline Repository Password</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineRepositoryBranch"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineRepositoryBranch">Pipeline Repository Branch</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineEngineId"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineEngineId">Pipeline Engine Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineNotificatorId"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineNotificatorId">Pipeline Notificator Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineFtpAddress"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineFtpAddress">Pipeline Ftp Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineFtpUsername"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineFtpUsername">Pipeline Ftp Username</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineFtpPassword"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineFtpPassword">Pipeline Ftp Password</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineSchedule"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineSchedule">Pipeline Schedule</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pipelineScheduleDetails"><span jhiTranslate="gamecraftgatewayApp.pipeline.pipelineScheduleDetails">Pipeline Schedule Details</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pipeline of pipelines ;trackBy: trackId">
                <td><a [routerLink]="['../pipeline', pipeline.id ]">{{pipeline.id}}</a></td>
                <td>{{pipeline.pipelineName}}</td>
                <td>{{pipeline.pipelineDescription}}</td>
                <td jhiTranslate="{{'gamecraftgatewayApp.PipelineRepositoryType.' + pipeline.pipelineRepositoryType}}">{{pipeline.pipelineRepositoryType}}</td>
                <td>{{pipeline.pipelineRepositoryAddress}}</td>
                <td>{{pipeline.pipelineRepositoryUsername}}</td>
                <td>{{pipeline.pipelineRepositoryPassword}}</td>
                <td>{{pipeline.pipelineRepositoryBranch}}</td>
                <td>{{pipeline.pipelineEngineId}}</td>
                <td>{{pipeline.pipelineNotificatorId}}</td>
                <td>{{pipeline.pipelineFtpAddress}}</td>
                <td>{{pipeline.pipelineFtpUsername}}</td>
                <td>{{pipeline.pipelineFtpPassword}}</td>
                <td jhiTranslate="{{'gamecraftgatewayApp.PipelineSchedule.' + pipeline.pipelineSchedule}}">{{pipeline.pipelineSchedule}}</td>
                <td>{{pipeline.pipelineScheduleDetails}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pipeline', pipeline.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pipeline/'+ pipeline.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pipeline/'+ pipeline.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="pipelines && pipelines.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
