<!DOCTYPE HTML>

<html>
<head>
    <title>Gamecraft CI</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/dashboard.css"/>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/js/account_operations.js"></script>
    <script src="/js/engines_operations.js"></script>
    <script src="/js/ui_operations.js"></script>
    <script src="/js/validator.min.js"></script>
    <script src="/js/lang_operations.js"></script>
    <script>
        checkAuthState();
        loadNavbar();
        fillEnginesTable();
        setDefaultLanguage();
        var engineId;
        $(document).ready(function() {
            if (!isAdmin(getUsername())) {
                document.getElementById('createEngineButton').style.visibility = 'hidden';
            }
            $('#updateEngineModal').on('show.bs.modal', function(e) {
                engineId = $(e.relatedTarget).data('engine-id');
                $(e.currentTarget).find('input[id="newengineName"]').val(getEngine(engineId).engineName);
                $(e.currentTarget).find('input[id="newengineDescription"]').val(getEngine(engineId).engineDescription);
                $(e.currentTarget).find('input[id="newengineCompilerPath"]').val(getEngine(engineId).engineCompilerPath);
                $(e.currentTarget).find('input[id="newengineCompilerArguments"]').val(getEngine(engineId).engineCompilerArguments);
            });
        });
    </script>
</head>
<body>
<div class="navbar-frame"></div>
<div class="container">

    <h1>Engines</h1>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
    </table>
    <button type="button" id="createEngineButton" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createEngineModal"><span class="glyphicon glyphicon-plus"></span> Create new engine</button>

</div> <!-- /container -->

<div class="modal fade" id="createEngineModal" tabindex="-1" role="dialog" aria-labelledby="createEngineButton" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create new engine</h4>
            </div>
            <div class="modal-body">
                <form role="form" data-toggle="validator" name="form" id="form" class="form-horizontal"
                      enctype="multipart/form-data">
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="engineName">Engine name:</label>
                            <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="engineName" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="engineDescription">Engine description:</label>
                            <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="engineDescription" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="engineName">Engine Compiler Path:</label>
                            <input type="text"  class="form-control" id="engineCompilerPath" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="engineDescription">Engine Compiler Arguments:</label>
                            <input type="text"  class="form-control" id="engineCompilerArguments" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="addEngine(engineName.value,engineDescription.value,engineCompilerPath.value, engineCompilerArguments.value);  location.reload();" class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-floppy-disk"></i>Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateEngineModal" tabindex="-1" role="dialog" aria-labelledby="updateEngineButton" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Update engine</h4>
            </div>
            <div class="modal-body">
                <form role="form" data-toggle="validator" name="form" id="updateform" class="form-horizontal"
                      enctype="multipart/form-data">
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="newengineName">Engine name:</label>
                            <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="newengineName" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="newengineDescription">Engine description:</label>
                            <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="newengineDescription" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="newengineCompilerPath">Engine Compiler Path:</label>
                            <input type="text"  class="form-control" id="newengineCompilerPath" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="newengineCompilerArguments">Engine Compiler Arguments:</label>
                            <input type="text"  class="form-control" id="newengineCompilerArguments" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="updateEngine(engineId,newengineName.value,newengineDescription.value,newengineCompilerPath.value, newengineCompilerArguments.value);  location.reload();" class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-floppy-disk"></i>Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>