<div>
    <h2>
        <span jhiTranslate="gamecraftgatewayApp.telegramBot.home.title">Telegram Bots</span>
        <button class="btn btn-primary float-right jh-create-entity create-telegram-bot" [routerLink]="['/', { outlets: { popup: ['telegram-bot-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gamecraftgatewayApp.telegramBot.home.createLabel">
            Create new Telegram Bot
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gamecraftgatewayApp.telegramBot.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="telegramBots">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telegramBotName"><span jhiTranslate="gamecraftgatewayApp.telegramBot.telegramBotName">Telegram Bot Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telegramBotDescription"><span jhiTranslate="gamecraftgatewayApp.telegramBot.telegramBotDescription">Telegram Bot Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telegramBotToken"><span jhiTranslate="gamecraftgatewayApp.telegramBot.telegramBotToken">Telegram Bot Token</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telegramBotEnabled"><span jhiTranslate="gamecraftgatewayApp.telegramBot.telegramBotEnabled">Telegram Bot Enabled</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let telegramBot of telegramBots ;trackBy: trackId">
                <td><a [routerLink]="['../telegram-bot', telegramBot.id ]">{{telegramBot.id}}</a></td>
                <td>{{telegramBot.telegramBotName}}</td>
                <td>{{telegramBot.telegramBotDescription}}</td>
                <td>{{telegramBot.telegramBotToken}}</td>
                <td>{{telegramBot.telegramBotEnabled}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../telegram-bot', telegramBot.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'telegram-bot/'+ telegramBot.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'telegram-bot/'+ telegramBot.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="telegramBots && telegramBots.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
