<!DOCTYPE HTML>

<html>
<head>
    <title>Gamecraft CI</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/dashboard.css"/>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/js/irc_notifications_operations.js"></script>
    <script src="/js/account_operations.js"></script>
    <script src="/js/ui_operations.js"></script>
    <script src="/js/validator.min.js"></script>
    <script>
        checkAuthState();
        loadNavbar();
        fillIRCBotsTable();
        var notificatorId;
        $(document).ready(function() {
            if (!isAdmin(getUsername())) {
                document.getElementById('createNotificatorButton').style.visibility = 'hidden';
            }
            $('#updateNotificatorModal').on('show.bs.modal', function(e) {
                notificatorId = $(e.relatedTarget).data('notificator-id');
                $(e.currentTarget).find('input[id="newnotificatorName"]').val(getIRCBot(notificatorId).ircBotName);
                $(e.currentTarget).find('input[id="newnotificatorDescription"]').val(getIRCBot(notificatorId).ircBotDescription);
                $(e.currentTarget).find('input[id="newnotificatorIrcServer"]').val(getIRCBot(notificatorId).ircServerAddress);
                $(e.currentTarget).find('input[id="newnotificatorIrcPort"]').val(getIRCBot(notificatorId).ircServerPort);
                $(e.currentTarget).find('input[id="newnotificatorIrcNickname"]').val(getIRCBot(notificatorId).ircBotNickname);
                if (getIRCBot(notificatorId).ircServerSecuredProtocolEnabled == true) {
                    $(e.currentTarget).find('input[id="newnotificatorIrcSecured"]').attr("checked","checked");
                }
            });
        });
    </script>
</head>
<body>
<div class="navbar-frame"></div>
<div class="container">

    <h1>IRC Bots</h1>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>IRC Bot Name</th>
            <th>IRC Bot Description</th>
            <th>Operations</th>
        </tr>
    </table>
    <button type="button" id="createNotificatorButton" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#createNotificatorModal"><span class="glyphicon glyphicon-plus"></span> Create new notificator</button>

</div> <!-- /container -->

<div class="modal fade" id="createNotificatorModal" tabindex="-1" role="dialog" aria-labelledby="createNotificatorModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create new notificator</h4>
            </div>
            <div class="modal-body">
                <form role="form" data-toggle="validator" name="form" id="form" class="form-horizontal"
                      enctype="multipart/form-data">
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="notificatorName">Notificator name:</label>
                            <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="notificatorName" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="notificatorDescription">Notificator description:</label>
                            <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="notificatorDescription" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="notificatorIrcServer">IRC Server:</label>
                            <input type="text"  class="form-control" id="notificatorIrcServer" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="notificatorIrcPort">IRC Port:</label>
                            <input type="number"  class="form-control" id="notificatorIrcPort" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="notificatorIrcNickname">IRC Nickname:</label>
                            <input type="text"  class="form-control" id="notificatorIrcNickname" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="notificatorIrcSecured">Use Secure Protocol (SSL):</label>
                            <input type="checkbox"  class="form-control" id="notificatorIrcSecured" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="if (notificatorIrcSecured.checked) { addIRCBot(notificatorName.value,notificatorDescription.value,notificatorIrcNickname.value,notificatorIrcServer.value,notificatorIrcPort.value,true); location.reload(); } else { addIRCBot(notificatorName.value,notificatorDescription.value,notificatorIrcNickname.value,notificatorIrcServer.value,notificatorIrcPort.value,false); location.reload();}" class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-floppy-disk"></i>Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateNotificatorModal" tabindex="-1" role="dialog" aria-labelledby="updateNotificatorModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Update notificator</h4>
            </div>
            <div class="modal-body">
                <form role="form" data-toggle="validator" name="form" id="updateform" class="form-horizontal"
                      enctype="multipart/form-data">
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="newnotificatorName">Notificator name:</label>
                            <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="newnotificatorName" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="newnotificatorDescription">Notificator description:</label>
                            <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="newnotificatorDescription" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="newnotificatorIrcServer">IRC Server:</label>
                            <input type="text"  class="form-control" id="newnotificatorIrcServer" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="newnotificatorIrcPort">IRC Port:</label>
                            <input type="number"  class="form-control" id="newnotificatorIrcPort" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="newnotificatorIrcNickname">IRC Nickname:</label>
                            <input type="text"  class="form-control" id="newnotificatorIrcNickname" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="newnotificatorIrcSecured">Use Secure Protocol (SSL):</label>
                            <input type="checkbox"  class="form-control" id="newnotificatorIrcSecured" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="if (newnotificatorIrcSecured.checked) { updateIRCBot(notificatorId, newnotificatorName.value,newnotificatorDescription.value,true,newnotificatorIrcNickname.value,newnotificatorIrcServer.value,newnotificatorIrcPort.value,true); location.reload(); } else { updateIRCBot(notificatorId,newnotificatorName.value,newnotificatorDescription.value,true,newnotificatorIrcNickname.value,newnotificatorIrcServer.value,newnotificatorIrcPort.value,false); location.reload();}" class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-floppy-disk"></i>Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>