<!DOCTYPE HTML>

<html>
<head>
    <title>Gamecraft CI</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/dashboard.css"/>
    <link rel="stylesheet" href="/css/pipelines.css"/>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/js/account_operations.js"></script>
    <script src="/js/projects_operations.js"></script>
    <script src="/js/pipeline_operations.js"></script>
    <script src="/js/ui_operations.js"></script>
    <script src="/js/validator.min.js"></script>
    <script src="/js/lang_operations.js"></script>
    <script>
        checkAuthState();
        loadNavbar();
        setDefaultLanguage();
        var projectId = findGetParameter('project_id');
        var project = getProject(projectId);
        fillPipelinesTable(projectId);
        $(document).ready(function() {
            if (!isAdmin(getUsername())) {
                document.getElementById('createPipelineButton').style.visibility = 'hidden';
            }
            $('#updatePipelineModal').on('show.bs.modal', function(e) {
                projectId = $(e.relatedTarget).data('project-id');
                $(e.currentTarget).find('input[id="newprojectName"]').val(getProject(projectId).projectName);
                $(e.currentTarget).find('input[id="newprojectDescription"]').val(getProject(projectId).projectDescription);
                $(e.currentTarget).find('input[id="newprojectWebpage"]').val(getProject(projectId).projectWebsite);
            });
        });
    </script>
</head>
<body>
<div class="navbar-frame"></div>
<div class="container">

    <h1>Pipelines</h1>
    <h2><script>document.write(project.projectName)</script></h2>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
    </table>
    <button type="button" id="createPipelineButton" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createPipelineModal"><span class="glyphicon glyphicon-plus"></span> Create new pipeline</button>
</div> <!-- /container -->

<div class="modal fade" id="createPipelineModal" tabindex="-1" role="dialog" aria-labelledby="createPipelineModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create new pipeline</h4>
            </div>
            <div class="modal-body">
                <form role="form" data-toggle="validator" name="form" id="form" class="form-horizontal"
                      enctype="multipart/form-data">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Pipeline Settings</div>
                        <div class="panel-body">
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineName">Pipeline name:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineName" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineDescription">Pipeline description:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineDescription" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="panel-heading">Repository Settings</div>
                        <div class="panel-body">
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineRepositoryUsername">Github Repository Username:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineRepositoryUsername" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineRepositoryPassword">Github Repository Password:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineRepositoryPassword" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineRepositoryAddress">Github Repository Address:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineRepositoryAddress" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineRepositoryBranch">Github Repository Branch:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineRepositoryBranch" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="panel-heading">Compilation Settings</div>
                        <div class="panel-body">
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineEngineName">Engine name:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineEngineName" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineEngineCompilerPath">Engine Compiler Path:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineEngineCompilerPath" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineEngineCompilerArguments">Engine Compiler Arguments:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineEngineCompilerArguments" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="panel-heading">FTP Publication Settings</div>
                        <div class="panel-body">
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineFtpAddress">FTP Address:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineFtpAddress" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineFtpPort">FTP Port:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineFtpPort" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineFtpUsername">FTP Username:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineFtpUsername" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineFtpPassword">FTP Password:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineFtpPassword" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="panel-heading">Dropbox Publication Settings</div>
                        <div class="panel-body">
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineDropboxAppKey">Dropbox App Key:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineDropboxAppKey" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineDropboxToken">Dropbox Token:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineDropboxToken" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="panel-heading">Notification Settings</div>
                        <div class="panel-body">
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineNotificatorType">Notificator Type:</label>
                                    <select class="form-control" id="pipelineNotificatorType" required="true">
                                        <option value="cronjob">E-mail</option>
                                        <option value="webhook">Twitter</option>
                                        <option value="webhook">Telegram</option>
                                        <option value="webhook">Slack</option>
                                        <option value="webhook">IRC</option>
                                    </select>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineNotificatorName">Notificator name:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineNotificatorName" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="panel-heading">Scheduling Settings</div>
                        <div class="panel-body">
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineScheduleType">Schedule Type:</label>
                                    <select class="form-control" id="pipelineScheduleType" required="true">
                                        <option value="cronjob">Cron Job</option>
                                        <option value="webhook">WebHook</option>
                                    </select>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback form-group-lg">
                                <div class="input-group">
                                    <label for="pipelineScheduleCronjob">Schedule Cronjob:</label>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="pipelineScheduleCronjob" required="true"/>
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="addProject(projectName.value,projectDescription.value,projectWebpage.value);  location.reload();" class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-floppy-disk"></i>Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateProjectModal" tabindex="-1" role="dialog" aria-labelledby="updateProjectModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Update project</h4>
            </div>
            <div class="modal-body">
                <form role="form" data-toggle="validator" name="form" id="updateform" class="form-horizontal"
                      enctype="multipart/form-data">
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="newprojectName">Project name:</label>
                            <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="newprojectName" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="newprojectDescription">Project description:</label>
                            <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="newprojectDescription" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback form-group-lg">
                        <div class="input-group">
                            <label for="newprojectWebpage">Project webpage:</label>
                            <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="newprojectWebpage" required="true"/>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="updateProject(projectId,newprojectName.value,newprojectDescription.value,newprojectWebpage.value,false);  location.reload();" class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-floppy-disk"></i>Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>